#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define NMBR 1
#define FUNC 2
#define SPEC 3
#define HARD 4

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

// timing config
  &mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;
  };
  &lt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;
  };

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "BILLIAM";
                        bindings = <
//|-------------|--------|---------|-------|-----|-----| |-----|-----|-----|-----|-----|-------------|
   &lt 4 TAB     &kp SQT  &kp COMMA &kp DOT &kp P &kp Y   &kp F &kp G &kp C &kp R &kp L &lt 3 GRAVE
//|-------------|--------|---------|-------|-----|-----| |-----|-----|-----|-----|-----|-------------|
   &mt LSHFT ESC &kp A    &kp O     &kp E   &kp U &kp I   &kp D &kp H &kp T &kp N &kp S &mt RSHFT RET
//|-------------|--------|---------|-------|-----|-----| |-----|-----|-----|-----|-----|-------------|
   &lt 1 LEFT    &kp SEMI &kp Q     &kp J   &kp K &kp X   &kp B &kp M &kp W &kp V &kp Z &lt 2 RIGHT
//|-------------|--------|---------|-------|-----|-----| |-----|-----|-----|-----|-----|-------------|

//                    |---------|---------|------------| |-------------|---------|--------|
                       &kp LCTRL &kp SPACE &mt LGUI DEL   &mt RGUI BSPC &kp SPACE &kp RALT
//                    |---------|---------|------------| |-------------|---------|--------|
                        >;
                };
// NOTE: bottom left
                nmbr_layer {
                        label = "NUMBER";
                        bindings = <
//|--------------|-------------|---------|---------|-------------|---------|  |---------|------|------|------|--------|-------------|
   &kp LG(LS(N5)) &kp LG(EQUAL) &kp LGUI  &kp UP    &kp RET       &kp BSPC     &kp AMPS  &kp N7 &kp N8 &kp N9 &kp PLUS &kp MINUS
//|--------------|-------------|---------|---------|-------------|---------|  |---------|------|------|------|--------|-------------|
   &kp LG(LA(N8)) &kp LG(N0)    &kp LEFT  &kp DOWN  &kp RIGHT     &kp LSHFT    &kp PIPE  &kp N4 &kp N5 &kp N6 &kp STAR &kp FSLH
//|--------------|-------------|---------|---------|-------------|---------|  |---------|------|------|------|--------|-------------|
   &none          &kp LG(MINUS) &kp LCTRL &kp LG(W) &kp LG(LC(F)) &kp LALT     &kp CARET &kp N1 &kp N2 &kp N3 &kp DOT  &kp EQUAL
//|--------------|-------------|---------|---------|-------------|---------|  |---------|------|------|------|--------|-------------|

//             |----------------------|----------------|-----|  |--------------|-----------|--------|
                &mt LCTRL LG(LS(LBKT)) &kp LG(LS(RBKT)) &none    &mt RGUI BSPC  &kp SPACE   &kp N0
//             |----------------------|----------------|-----|  |--------------|-----------|--------|
                        >;
                };

// NOTE: bottom right
                func_layer {
                        label = "FUNCTION";
                        bindings = <

//|---------|---------|--------|--------|---------|--------| |------|-------|-------|-------|----------|-------------|
   &none     &kp EXCL  &kp LPAR &kp RPAR &kp TILDE &kp HASH   &kp F1 &kp F2  &kp F3  &kp F4  &kp C_NEXT &kp C_VOL_UP
//|---------|---------|--------|--------|---------|--------| |------|-------|-------|-------|----------|-------------|
   &kp BSLH  &kp PRCNT &kp LBKT &kp RBKT &kp GRAVE &kp AT     &kp F5 &kp F6  &kp F7  &kp F8  &kp C_PP   &kp C_VOL_DN
//|---------|---------|--------|--------|---------|--------| |------|-------|-------|-------|----------|-------------|
   &none     &kp QMARK &kp LBRC &kp RBRC &kp UNDER &kp DLLR   &kp F9 &kp F10 &kp F11 &kp F12 &kp C_PREV &none
//|---------|---------|--------|--------|---------|--------| |------|-------|-------|-------|----------|-------------|

//             |-----------|-----------|------------|  |--------|--------------|------------------|
                  &kp LCTRL &kp SPACE   &mt LGUI DEL    &none    &kp LC(LEFT)   &mt RALT LC(RIGHT)
//             |-----------|-----------|------------|  |--------|--------------|------------------|
                        >;
                };

// NOTE: top right
                spec_layer {
                        label = "SPECIAL";
                        bindings = <
//|---------|----------------|-------------|-----------|----------|-------------| |------------|------------|----------------|---------|-----------------|-------------|
   &none     &kp LA(N1)       &kp LA(COMMA) &kp LA(DOT) &kp LA(P)  &kp LA(N6)      &kp LA(F)    &kp LA(B)    &kp LA(G)        &kp LA(R) &kp LA(LS(EQUAL)) &none
//|---------|----------------|-------------|-----------|----------|-------------| |------------|------------|----------------|---------|-----------------|-------------|
   &kp LA(K) &kp LA(LS(R))    &kp LA(Z)     &kp LA(X)   &kp LA(M)  &kp LA(N5)      &kp LA(J)    &kp LA(H)    &kp LA(N2)       &kp LA(L) &kp LA(W)         &kp LA(V)
//|---------|----------------|-------------|-----------|----------|-------------| |------------|------------|----------------|---------|-----------------|-------------|
   &none     &kp LA(LS(FSLH)) &kp LA(Y)     &kp LA(N3)  &kp LA(N4) &kp LA(LS(N2))  &kp LA(SQT)  &kp LA(BSLH) &kp LA(LS(BSLH)) &kp LA(T) &kp LA(SEMI)      &kp LA(EQUAL)
//|---------|----------------|-------------|-----------|----------|-------------| |------------|------------|----------------|---------|-----------------|-------------|

//             |----------|-----------|------------|  |---------------|------------|------------------|
                 &kp LCTRL &kp SPACE   &mt LGUI DEL    &mt RGUI BSPC   &kp SPACE    &kp RALT
//             |----------|-----------|------------|  |---------------|------------|------------------|
                        >;
                };

// NOTE: top left
                hard_layer {
                        label = "HARDWARE";
                        bindings = <
//|-----|-----|----------|------------|------------|------------| |-----|----------------|----------------|-----------------|-----|-------|
   &none &none &none      &out OUT_USB &bt BT_SEL 2 &bt BT_SEL 0   &none &mkp MB1         &none            &mkp MB2          &none &none
//|-----|-----|----------|------------|------------|------------| |-----|----------------|----------------|-----------------|-----|-------|
   &none &none &bt BT_CLR &out OUT_TOG &bt BT_SEL 3 &bt BT_SEL 1   &none &none            &mkp MB3         &none             &none &none
//|-----|-----|----------|------------|------------|------------| |-----|----------------|----------------|-----------------|-----|-------|
   &none &none &none      &out OUT_BLE &bt BT_SEL 4 &none          &none &mkp MB4         &none            &mkp MB5          &none &none
//|-----|-----|----------|------------|------------|------------| |-----|----------------|----------------|-----------------|-----|-------|

//                        |-----|-----|------------|  |-----|-----|-----|
                           &none &none &kp LC(LG(Q))   &none &none &none
//                        |-----|-----|------------|  |-----|-----|-----|
                        >;
                };
        };
};
